# Игнорируем данные
resources/
results/
data/
*.bam
*.sam
*.vcf
*.vcf.gz
*.fasta
*.fna
*.tbi
*.bai

# Игнорируем временные файлы Snakemake и логи
.snakemake/
*.log
pop_map_real.txt
snpEff_local.config
temp_model.slim
merged.zip
